boto3==1.35.92  # pyup: ignore
django-classified==1.1.1
django-environ==0.11.2
django==5.1.4
gunicorn==23.0.0
psycopg2-binary==2.9.10
python-memcached==1.62
social-auth-app-django==5.4.2
whitenoise==6.8.2
