boto3==1.24.31  # pyup: ignore
django-classified==1.0
django-environ==0.9.0
django-storages==1.12.3
django==3.2.14
gunicorn==20.1.0
psycopg2-binary==2.9.3
python-memcached==1.59
social-auth-app-django==5.0.0
whitenoise==6.2.0
