{% extends "django_classified/_base.html" %}

{% load i18n bootstrap4 %}

{% block head_links %} 

{% endblock %}

{% block title %}{% trans "Re-set password" %}{% endblock title %}

{% block body %}

	{% block content %}
		<h3>{% if token_fail %}{% trans "Bad token" %}{% else %}{% trans "Re-set password" %}{% endif %}</h3>
	
		{% if token_fail %}
			{% url 'account_reset_password' as passwd_reset_url %}
			<p>{% blocktrans %}The re-set password link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new re-set password</a>.{% endblocktrans %}</p>
		{% else %}
			{% if form %}
				<form method="POST" action="{{ action_url }}">
					{% csrf_token %}
	  				{% bootstrap_form form layout='horizontal' %}
					<input type="submit" name="action" value="{% trans 'Re-set password' %}"/>
				</form>
			{% else %}
				<p>{% trans 'Your password has been changed.' %}</p>
			{% endif %}
		{% endif %}
	{% endblock %}

{% endblock %}
