{% extends "django_classified/_base.html" %}

{% load i18n bootstrap4 %}
{% load account %}

{% block head_links %} 

{% endblock %}

{% block title %}{% trans "Re-set password" %}{% endblock title %}

{% block body %}
	
	{% block content %}
		
		{% if user.is_authenticated %}
		
			{% include "account/snippets/already_logged_in.html" %}
			
		
		{% else %}
			<h3>{% trans "Re-set password" %}</h3>
			<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to re-set the password." %}</p>
	
			<form  class="form-horizontal" method="POST" id="forgot_password_form" action="{% url 'account_reset_password' %}">
				{% csrf_token %}
				
	  			{% bootstrap_form form layout='horizontal' %}
			
				<div class="form-group">
					<div class=" col-sm-2 col-lg-2 ">
					</div>
					<div class=" col-sm-10 col-lg-10">
						<input class="btn btn-outline-primary " type="submit" value="{% trans 'Re-set password' %}" />
					</div>
				</div>

			</form>
	
			<p>{% blocktrans %}Please contact us if you have any trouble re-setting your password.{% endblocktrans %}</p>
	
		{% endif %}
	
	{% endblock %}

{% endblock %}
