{% extends "django_classified/_base.html" %}

{% load i18n bootstrap4 %}

{% block head_links %} 

{% endblock %}

{% block title %}{% trans "Set password" %}{% endblock title %}

{% block body %}

	{% block content %}
	
		{% block messages %}
		{% if messages %}
		<div>
			<ul>
			{% for message in messages %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>{{message}}</strong>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
			</div>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
	  {% endblock %}
	
		<h3 class="h3" id="head_banner">{% trans "Set password" %}</h3>
	
		<form class="form-horizontal"  method="POST" action="{% url 'account_set_password' %}" class="password_set">
				  {% csrf_token %}
	  	  
	  {% bootstrap_form form layout='horizontal' %}
	
	  {% if redirect_field_value %}
	  
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	  
	  {% endif %}
	  
	  	<div class="form-group">
			<div class=" col-sm-2 col-lg-2 ">
			</div>
			<div class=" col-sm-10 col-lg-10 ">
				<div class="btn-toolbar">
					<button  class="btn btn-primary " type="submit">{% trans "Set password" %}</button>
				</div>
			</div>
		</div>
		
		</form>

	{% endblock %}

{% endblock %}
