{% extends 'django_classified/_base.html' %}

{% load i18n %}

{% load account %}

{% block head_links %} 

{% endblock %}

{% block title %}{% trans "Re-set password e-mail sent" %}{% endblock title %}


{% block body %}

	{% block content %}
	
		<h3 class="h3" id="head_banner">{% trans "Re-set password e-mail sent" %}</h3>
		
		{% if user.is_authenticated %}
			{% include "account/snippets/already_logged_in.html" %}
			{% block content_extra %} {% endblock %}
		{% else %}
			 <p class="forgot_password_info">We have sent you an e-mail in order to re-set your password. Please try again if you do not receive the e-mail within a few minutes.</p>
			 <p class="forgot_password_info">Click to go to <a href="/accounts/login">Log-in</a>.</p>
		{% endif %}

	{% endblock %}

{% endblock %}


