{% load account %}
{% load i18n %}
{% user_display user as user_display %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Registration confirmation e-mail</title>

<style type="text/css" name="allauthdemo">

{% include "account/css/Email-Styles.css" %}

</style>

</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
					<tr>
						<td class="content-wrap">
							<meta itemprop="name" content="Confirm Email"/>
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block">
										{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
										
										<h3>Please confirm your e-mail address</h3>
										
										<p>This message is from {{ site_name }}.</p>
										
										<p>The user &ldquo;{{ user_display }}&rdquo;, registering at {{ site_name }}, has given your e-mail address in order to confirm their account details.<p>
										
										<p>To confirm this information click the button below.</p>

										{% endblocktrans %}
									</td>
								</tr>
								<tr>
									<td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
										<a href="{{ activate_url }}"  class="btn-primary" itemprop="url">{% trans "Confirm e-mail address" %}</a>
									</td>
								</tr>
								<tr>
									<td class="content-block">
									    {% blocktrans %}
									    
										<p>We may need to send you critical information about our service and it is important that we have an accurate e-mail address.</p>
										
										{% endblocktrans %}
									</td>
								</tr>								
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
							
						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>